In [2]:
import pandas as pd

In [3]:
# 2 main datatypes

series = pd.Series(["BMW", "Toyota", "Honda"])

In [4]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [5]:
# series = 1 - dimensional

In [6]:
colours = pd.Series(["Red", "Blue", "Black"])

In [7]:
colours

0      Red
1     Blue
2    Black
dtype: object

In [8]:
# 2. DataFrame - 2-dimensional

car_data = pd.DataFrame({"car make": series, "colours": colours})

In [9]:
car_data

  car make colours
0      BMW     Red
1   Toyota    Blue
2    Honda   Black

In [3]:
# import data

car_sales = pd.read_csv("cars_sales.csv")

In [9]:
car_sales

,Make,Colour,Odometer (KM),Doors,Price,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Toyota,White,150043,4,"$4,000.00",NaN,NaN,NaN,NaN,NaN,NaN
1,Honda,Red,87899,4,"$4,000.00",NaN,NaN,NaN,NaN,NaN,NaN
2,Toyota,Blue,32549,3,"$4,000.00",NaN,NaN,NaN,NaN,NaN,NaN
3,BMW,Black,11179,5,"$4,000.00",NaN,NaN,NaN,NaN,NaN,NaN
4,Nissan,White,213095,4,"$4,000.00",NaN,NaN,NaN,NaN,NaN,NaN
5,Toyota,Green,99213,4,"$4,000.00",NaN,NaN,NaN,NaN,NaN,NaN
6,Honda,Blue,45698,4,"$4,000.00",NaN,NaN,NaN,NaN,NaN,NaN
7,Honda,Blue,54738,4,"$4,000.00",NaN,NaN,NaN,NaN,NaN,NaN
8,Toyota,White,60000,4,"$4,000.00",NaN,NaN,NaN,NaN,NaN,NaN
9,Nissan,White,31600,4,"$4,000.00",NaN,NaN,NaN,NaN,NaN,NaN